body {
    background-color: black;
    color: #00ff00;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

pre {
    margin: 0;
    padding: 0;
}

#board {
    font-size: 1.5em;
    font-style: normal;
}

#board i {
    font-style: normal;
}

#stats {
    font-weight: bold;
    position: absolute;
    transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
}

.C:before { /* Cool */
    content: '😎';
}

.F:before { /* Fresh */
    content: '😃';
}

.G:before { /* Ghost */
    content: '👻';
    visibility: hidden;
}

.O:before { /* OMG */
    content: '😳';
}

.P:before { /* Party */
    content: '🥳';
}

.S:before { /* Skull */
    content: '💀';
    opacity: 0.5;
}
