body {
    background-color: black;
    color: white;
}

pre#board {
    font-size: 1.66em;
    font-style: normal;
    line-height: 100%;
}

pre#board i {
    font-style: normal;
}

#stats {
    font-weight: bold;
}

.E:before { /* empty */
    content: '👻';
    visibility: hidden;
}

.B:before { /* born */
    content: '😁';
}

.L:before { /* live */
    content: '😎';
}

.P:before { /* party */
    content: '🥳';
}

.D:before { /* dead */
    content: '💀';
    opacity: 0.5;
}
