@(fps: Int, secs: Int)(implicit request: play.api.mvc.RequestHeader)
@main("Conway's Game of Life") {
    <pre id="board"><i id="cell" class="G"></i></pre>
    <pre id="stats">&nbsp;<br/>&nbsp;</pre>
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.GameController.stream
    )
    <script type="text/javascript">
            if (typeof (EventSource) === undefined) {
                document.getElementById('board').innerHTML =
                        "Sorry. This browser doesn't seem to support server sent events. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility.";
            } else {
                const OnResize = function () {

                    const board = new function () {
                        this.elem = document.querySelector('#board');

                        this.update = event => {
                            let buffer = '';
                            for (const c of event.data) {
                                if ('A' <= c && c <= 'Z') {
                                    buffer += `<i class="${c}"></i>`;
                                } else {
                                    buffer += c;
                                }
                            }
                            board.elem.innerHTML = buffer;
                        }
                    };

                    const stats = new function() {
                        const statsElem = document.querySelector('#stats');
                        let timing, generation, index;

                        this.update = () => {
                            const now = performance.now();
                            timing[index++] = now;
                            index %= @fps;
                            let stats;
                            if (@fps <= ++generation) {
                                const then = timing[index % timing.length];
                                const rate = 1e3 * timing.length / (now - then);
                                stats = `Generation: ${generation}<br/>Generations / Second: ${rate.toFixed(1)}`;
                            } else {
                                stats = `Generation: ${generation}<br/>&nbsp;`;
                            }
                            statsElem.innerHTML = stats;
                            statsElem.setAttribute("style", 'left:' + Math.abs((generation / @fps + 80) % 160 - 80) + '%');
                        };

                        this.reset = () => {
                            timing = new Array(@fps);
                            generation = index = 0;
                        };

                        this.reset();
                    };

                    const source = new function() {
                        let es;

                        this.reset = (cols, rows) => {
                            if (es) {
                                es.close();
                                stats.reset();
                            }
                            es = new EventSource(jsRoutes.controllers.GameController.stream(cols, rows, @secs).url);
                            es.addEventListener('message', board.update);
                            es.addEventListener('message', stats.update);
                            es.addEventListener('close', stats.reset);
                        }
                    };

                    return new function() {
                        const width = document.querySelector('#cell').offsetWidth;
                        const height = board.elem.offsetHeight;
                        let pendingUpdate = false;

                        return () => {
                            if (pendingUpdate) {
                                return;
                            }
                            pendingUpdate = true;

                            requestAnimationFrame(() => {
                                pendingUpdate = false;

                                let cols = Math.floor(visualViewport.width / width);
                                let rows = Math.floor(visualViewport.height / height);

                                source.reset(cols, rows);
                            });
                        }
                    };
                };
                (visualViewport.onresize = new OnResize())();
            }
    </script>
}
