@(game: Game)
@main("Conway's Game of Life") {
    <pre id="board"></pre>
    <pre id="stats"></pre>
    <script type="text/javascript">
            if (typeof (EventSource) === undefined) {
                document.getElementById('board').innerHTML =
                        "Sorry. This browser doesn't seem to support server sent events. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility.";
            } else {
                const source = new EventSource('@Html(routes.GameController.stream(game).toString)');

                const boardElem = document.getElementById('board');
                source.addEventListener('message', function (event) {
                    let buffer = '';
                    for (const c of event.data) {
                        switch (c) {
                            case ' ':
                                buffer += '<i class="d"></i>';
                                break;
                            case '*':
                                buffer += '<i class="l"></i>';
                                break;
                            case '+':
                                buffer += '<i class="b"></i>';
                                break;
                            default:
                                buffer += c;
                        }
                    }
                    boardElem.innerHTML = buffer;
                });

                const statsElem = document.getElementById('stats');
                let timing = [];
                let generation = 0, index = 0;
                source.addEventListener('message', function (event) {
                    const now = performance.now();
                    timing[index++] = now;
                    index %= 100;
                    if (10 <= ++generation) {
                        const then = timing[index % timing.length], rate = 1e3 * timing.length / (now - then);
                        statsElem.innerHTML = `Generation: ${generation}<br/>Server-Sent Events / Second: ${rate.toFixed(1)}`;
                    } else {
                        statsElem.innerHTML = `Generation: ${generation}`;
                    }
                });
                source.addEventListener('close', function (event) {
                    timing = [];
                    generation = index = 0;
                });
            }
    </script>
}
